.repository {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
}

.repository__container {
  background-color: #030d8c;
  padding: 15px;
  border-radius: 15px;
}

.back_btn {
  width: fit-content;
  border: none;
  color: #51e5ff;
  background-color: transparent;
  display: inline-flex;
  text-decoration: underline;
  cursor: pointer;
}

.repository_img {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
  border-radius: 15px;
}
