.repostitories_list {
  position: relative;
  height: calc(100% - 100px);
  overflow-y: auto;
}

.repostitories_list::-webkit-scrollbar {
  width: 6px;
}

.repostitories_list::-webkit-scrollbar-track {
  background-color: transparent;
}

.repostitories_list::-webkit-scrollbar-thumb {
  background-color: #51e5ff;
  border-radius: 3px;
}

.repostitories_list__container {
  width: 100%;
  position: absolute;
}

.repostitories_list__container > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
}

.error {
  font-weight: 700;
  padding: 10px 20px;
  background-color: #450707;
  border: 3px solid #eb0000;
  color: #eb0000;
  border-radius: 5px;
}
